/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   :root {
    /* Color Scheme Mode */
    --primitive-slate-050: #f8fafc;
    --primitive-slate-100: #f1f5f9;
    --primitive-slate-200: #e2e8f0;
    --primitive-slate-300: #cad5e2;
    --primitive-slate-400: #90a1b9;
    --primitive-slate-500: #62748e;
    --primitive-slate-600: #45556c;
    --primitive-slate-700: #314158;
    --primitive-slate-800: #1d293d;
    --primitive-slate-900: #0f172b;
    --primitive-slate-950: #020618;

    --primitive-orange-050: #fff7ed;
    --primitive-orange-100: #ffedd4;
    --primitive-orange-200: #ffd6a7;
    --primitive-orange-300: #ffb86a;
    --primitive-orange-400: #ff8904;
    --primitive-orange-500: #ff6900;
    --primitive-orange-600: #f54900;
    --primitive-orange-700: #ca3500;
    --primitive-orange-800: #9f2d00;
    --primitive-orange-900: #7e2a0c;
    --primitive-orange-950: #441306;

    --primitive-teal-050: #f0fdfa;
    --primitive-teal-100: #cbfbf1;
    --primitive-teal-200: #96f7e4;
    --primitive-teal-300: #46ecd5;
    --primitive-teal-400: #00d5be;
    --primitive-teal-500: #00bba7;
    --primitive-teal-600: #009689;
    --primitive-teal-700: #00786f;
    --primitive-teal-800: #005f5a;
    --primitive-teal-900: #0b4f4a;
    --primitive-teal-950: #022f2e;

    --primitive-indigo-050: #eef2ff;
    --primitive-indigo-100: #e0e7ff;
    --primitive-indigo-200: #c6d2ff;
    --primitive-indigo-300: #a3b3ff;
    --primitive-indigo-400: #7c86ff;
    --primitive-indigo-500: #615fff;
    --primitive-indigo-600: #4f39f6;
    --primitive-indigo-700: #432dd7;
    --primitive-indigo-800: #372aac;
    --primitive-indigo-900: #312c85;
    --primitive-indigo-950: #1e1a4d;

    --primitive-purple-050: #faf5ff;
    --primitive-purple-100: #f3e8ff;
    --primitive-purple-200: #e9d4ff;
    --primitive-purple-300: #dab2ff;
    --primitive-purple-400: #c27aff;
    --primitive-purple-500: #ad46ff;
    --primitive-purple-600: #9810fa;
    --primitive-purple-700: #8200db;
    --primitive-purple-800: #6e11b0;
    --primitive-purple-900: #59168b;
    --primitive-purple-950: #3c0366;

    --primitive-rose-050: #fff1f2;
    --primitive-rose-100: #ffe4e6;
    --primitive-rose-200: #ffccd2;
    --primitive-rose-300: #ffa1ad;
    --primitive-rose-400: #ff637e;
    --primitive-rose-500: #ff2056;
    --primitive-rose-600: #ec003f;
    --primitive-rose-700: #c60036;
    --primitive-rose-800: #a50036;
    --primitive-rose-900: #8b0836;
    --primitive-rose-950: #4d0218;

    --primitive-grey-050: #ffffff;
    --primitive-grey-100: #f5f5f5;
    --primitive-grey-200: #e5e5e5;
    --primitive-grey-300: #d1d5dc;
    --primitive-grey-400: #d4d4d4;
    --primitive-grey-500: #a1a1a1;
    --primitive-grey-600: #737373;
    --primitive-grey-700: #525252;
    --primitive-grey-800: #404040;
    --primitive-grey-900: #171717;
    --primitive-grey-950: #0a0a0a;

    --primitive-grey-alpha-050: rgba(255, 255, 255, .02);
    --primitive-grey-alpha-100: rgba(245, 245, 245, .04);
    --primitive-grey-alpha-200: rgba(229, 229, 229, .06);
    --primitive-grey-alpha-300: rgba(209, 213, 220, .08);
    --primitive-grey-alpha-400: rgba(212, 212, 212, .12);
    --primitive-grey-alpha-500: rgba(161, 161, 161, .14);
    --primitive-grey-alpha-600: rgba(115, 115, 115, .16);
    --primitive-grey-alpha-700: rgba(82, 82, 82, .2);
    --primitive-grey-alpha-800: rgba(64, 64, 64, .24);
    --primitive-grey-alpha-900: rgba(23, 23, 23, .32);
    --primitive-grey-alpha-950: rgba(10, 10, 10, .4);

    --primitive-red-050: #fef2f2;
    --primitive-red-100: #ffe2e2;
    --primitive-red-200: #ffc9c9;
    --primitive-red-300: #ffa2a2;
    --primitive-red-400: #ff6467;
    --primitive-red-500: #fb2c36;
    --primitive-red-600: #e7000b;
    --primitive-red-700: #c10007;
    --primitive-red-800: #9f0712;
    --primitive-red-900: #82181a;
    --primitive-red-950: #460809;

    --primitive-red-alpha-050: rgba(254, 242, 242, .02);
    --primitive-red-alpha-100: rgba(255, 226, 226, .04);
    --primitive-red-alpha-200: rgba(255, 201, 201, .06);
    --primitive-red-alpha-300: rgba(255, 162, 162, .08);
    --primitive-red-alpha-400: rgba(255, 100, 103, .12);
    --primitive-red-alpha-500: rgba(251, 44, 54, .14);
    --primitive-red-alpha-600: rgba(231, 0, 11, .16);
    --primitive-red-alpha-700: rgba(193, 0, 7, .2);
    --primitive-red-alpha-800: rgba(159, 7, 18, .24);
    --primitive-red-alpha-900: rgba(130, 24, 26, .28);
    --primitive-red-alpha-950: rgba(70, 8, 9, .3);

    --primitive-green-050: #f0fdf4;
    --primitive-green-100: #dcfce7;
    --primitive-green-200: #b9f8cf;
    --primitive-green-300: #7bf1a7;
    --primitive-green-400: #05df72;
    --primitive-green-500: #00c950;
    --primitive-green-600: #00a63e;
    --primitive-green-700: #008235;
    --primitive-green-800: #016630;
    --primitive-green-900: #0d542b;
    --primitive-green-950: #032e15;

    --primitive-green-alpha-050: rgba(240, 253, 244, .02);
    --primitive-green-alpha-100: rgba(220, 252, 231, .04);
    --primitive-green-alpha-200: rgba(185, 248, 207, .06);
    --primitive-green-alpha-300: rgba(123, 241, 167, .08);
    --primitive-green-alpha-400: rgba(5, 223, 114, .12);
    --primitive-green-alpha-500: rgba(0, 201, 80, .14);
    --primitive-green-alpha-600: rgba(0, 166, 62, .16);
    --primitive-green-alpha-700: rgba(0, 130, 53, .2);
    --primitive-green-alpha-800: rgba(1, 102, 48, .24);
    --primitive-green-alpha-900: rgba(13, 84, 43, .32);
    --primitive-green-alpha-950: rgba(3, 46, 21, .3);

    --primitive-yellow-050: #fefce8;
    --primitive-yellow-100: #fef9c2;
    --primitive-yellow-200: #fff085;
    --primitive-yellow-300: #ffdf20;
    --primitive-yellow-400: #fdc700;
    --primitive-yellow-500: #f0b100;
    --primitive-yellow-600: #d08700;
    --primitive-yellow-700: #a65f00;
    --primitive-yellow-800: #894b00;
    --primitive-yellow-900: #733e0a;
    --primitive-yellow-950: #432004;

    --primitive-yellow-alpha-050: rgba(254, 252, 232, .02);
    --primitive-yellow-alpha-100: rgba(254, 249, 194, .04);
    --primitive-yellow-alpha-200: rgba(255, 240, 133, .06);
    --primitive-yellow-alpha-300: rgba(255, 223, 32, .08);
    --primitive-yellow-alpha-400: rgba(253, 199, 0, .12);
    --primitive-yellow-alpha-500: rgba(240, 177, 0, .14);
    --primitive-yellow-alpha-600: rgba(208, 135, 0, .16);
    --primitive-yellow-alpha-700: rgba(166, 95, 0, .2);
    --primitive-yellow-alpha-800: rgba(137, 75, 0, .24);
    --primitive-yellow-alpha-900: rgba(115, 62, 10, .28);
    --primitive-yellow-alpha-950: rgba(67, 32, 4, .3);

    /* Alias Mode */

    --theme-backdrop: var(--primitive-slate-950);
    --theme-background: var(--primitive-slate-900);
    --theme-stroke: var(--primitive-slate-700);
    --theme-heading-foreground: var(--primitive-slate-050);
    --theme-foreground: var(--primitive-slate-400);
    --theme-link-foreground: var(--primitive-rose-300);
    --theme-link-hover-foreground: var(--primitive-rose-200);

    --primary-background: var(--primitive-orange-300);
    --primary-inverted: var(--primitive-slate-950);
    --primary-hover: var(--primitive-orange-200);
    --primary-hover-inverted: var(--primitive-slate-950);
    
    --success-background: var(--primitive-green-500);
    --success-inverted: var(--primitive-slate-950);
    --success-hover: var(--primitive-green-400);
    --success-hover-inverted: var(--primitive-slate-950);
    --success-alpha: var(--primitive-green-alpha-950);

    --error-background: var(--primitive-red-500);
    --error-inverted: var(--primitive-slate-950);
    --error-hover: var(--primitive-red-400);
    --error-hover-inverted: var(--primitive-slate-950);
    --error-alpha: var(--primitive-red-alpha-950);

    --warning-background: var(--primitive-yellow-500);
    --warning-inverted: var(--primitive-slate-950);
    --warning-hover: var(--primitive-yellow-400);
    --warning-hover-inverted: var(--primitive-slate-950);
    --warning-alpha: var(--primitive-yellow-alpha-950);

    /* Spacing scale */

    --spacing-01: .125rem;
    --spacing-02: .25rem;
    --spacing-03: .5rem;
    --spacing-04: .75rem;
    --spacing-05: 1rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;
    --spacing-10: 4rem;

    --button-top-bottom: .625rem;
    --button-left-right: .75rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

